language: java
jdk:
- oraclejdk8
sudo: false
env:
  matrix:
  - DISPLAY=:99.0
  global:
  - secure: hASJBWhoPhvReLbKOgCu9a6o1/jnoFzFxguoB8T4N+vyk+/Wh9HoTHcnEZ4hKwrmvsUUDwHeL0kX9iS5Brf5x3t++YCMfSw/Wx1JF56bjhi9qXCTliu8dBHyWgJWy+OlZpnCLwpnMxI307biXkxpK1xFEksY328OBk1klORS7tC1vIxs7i+WW/7jfJlVc1Noa1RLkK//K7RoXFdYT3XAdy4v+Zf8JC8N7UKbAf1gQTXBHFVxEzqJ7LKrRASlQeMSLudOHFbcXoIsJ9cLMogaoEUn+vDew9YZ9gMf03P9sYefG5bBFULC0DZ7/aELVvUHiXobhi6lPVSPuPJ0Q7y924tC95BtISTKu5wGstjN2GocWytSYQwx498k4ZRcambrt40ku32pr3MpYCpnMphtPBDSrAWJSPwi+ihvVFnl68wTs1mrOyYthAB+L6QbdU3U13bVc94AP/kwgoAMHaSOD6F+PGY6cN5F68g8gv+4D46hhQGvH5ACdojlYnLq+GaEJBBc3VNB+JNevCXgT7cwe7/S6H+sVMZ9p6IJSFC5a0unsS6AAwQc8C8JfdIJuvO8zQYokPwfzszmM0TUIZiVasUKtM1xbhH+DQhIU2RwG4icv4wGlo02V5C8Iy1v1aP0IY/RvHBDTlanM2C/ZVnrI6uUv2iozJcBrApw56TkJZQ=
  - secure: VV30+1uE7h1rkFFVEaPKBpHorWsh0TO+gpvRRK++mXf8rdwVIT/Nc51Vr5nd/xhjlW7tmBcoTMOEgMx3qC19tIJirsYsrHSNS5To+Jt85CaeVLtzHfA5ZA0MTHCZ4VyPopFoAlGpoQJuIodMcXBub34ZxtqoxudKvfjhJhHfi2hlxd06I5NX6tMOHCydLBWE6omoB6bLuXm2Tgo9B3KkYkKLu3a4olJZ7NvFruOdKnVhfhhFJcT67i+THUuRMgtbWYKTZhbSB607RFh5ReQfmY+sd+U9zFjHlVZIU6q9fijrB6hBnk5DqO+l7VvkdFTqqcphs9Ri13xqViEf8KiNDNlQKk0DYwVLgcYlKvBhj6uAa5ijtoCoXo6g6iBNqGxhyiV5jzrTjma81OwmLpJX+/N4ENR79rE4jF/NPOPpg7js4hiXlzCW3QqA293ez7gTxo2t9rfgoaLVlgfAgvK7mWq2pAgD9QyCLsBqgQ/0k6ocF5gi/PTWatyIpQD3gpR59NJi2pKaR1I+rOqPL2HSVl8YZ3d2Uxd0V2694GwxT9Q0S2bY1adpo7lUir/lfYg595Fj9eDbHRUm20hP2ob/iBcn5Z6uFi4jpKuywPs3+Qp8Mx3ubtQToMryu46ehA3ZCKpYg0kGpFQayKYJ5vesurUqEeiNnQ7ERi6euennDGY=
  - secure: gErd87ofjcTXtzGC1Q1kUZy60Jdjzf8TJtoR7s8bIcQmzyoOAWVAfeCBuCYG3J7Re7o77Wdu3f6UnOL+FZVxmnxOQHEqLCqr5EBbE52EBMMo9+LI8Q6ZUOIFckx+Y6u4XnG/QkQOiwCYkN8/JsSODBbCrguZInf9NSCjX04rYnhEi+SQV3a+W+KxsOBTLEYqr6UMCc82ni8f60UylCkO9tI3YjyvZMhW+i0styNmTTkGhQoPZJCBAv7WpTdHxJW2BGYNuXrz1w/K6sTDPKGzNxadt3qqCbiRMGK7VvGw1BXw2LoM9usN/rEYfBTirDSm/fmoybSNWLKJngntwuVAGUvXjyBn/sg71LUw1Fu8u80QV3gZdf0DAAPJtQJBbmyPmTBrt1NRgQespmUrCr4sL4zhXZw6Atnqt5S2OyzubhTg4K6VhJ9PrWtRsj4MOlFaBx2tIOsBJTfuwvZpMw1eoNPOC0YmCDCn2Rfw2JREoylaAoxLDvezp70MRX3dEj/w4FesDW8AVOwOt4r5inZnDzD6mmype6G+6WC1aM/nAqV1NgKgGki/hMnIXpv46CXVMLPKDFxd8BFm3k6HUG8/6Xl3d81HPG6UiXv/dDZV8sjGk6qnEh2NoRpKkT5R0CAP3uHnytTLogxFWKK/AnvFNaQpAqpUKQu+rtj3xFD2QhA=
install: true
addons:
  apt:
    packages:
    - metacity
before_script:
- sh -e /etc/init.d/xvfb start
- sleep 5
- metacity --sm-disable --replace 2> metacity.err &
after_success:
- gpg2 --keyring=$TRAVIS_BUILD_DIR/pubring.gpg --no-default-keyring --import deployment/signingkey.asc
- gpg2 --allow-secret-key-import --keyring=$TRAVIS_BUILD_DIR/secring.gpg --no-default-keyring
  --import deployment/signingkey.asc
- ./gradlew uploadArchives -Psigning.keyId=F941E9F172F06519 -Psigning.password=$PASSPHRASE -Psigning.secretKeyRingFile=$TRAVIS_BUILD_DIR/secring.gpg
before_install:
- openssl aes-256-cbc -K $encrypted_45cc9ac4f8c3_key -iv $encrypted_45cc9ac4f8c3_iv
  -in deployment/signingkey.asc.enc -out deployment/signingkey.asc -d
